
@model ForgotPasswordVM
<!-- Register start -->
<div class="register-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Tesdiqle</h2>
                            <span>E-mail hesabini tesdiqle</span>
                        </div>
                        <div class="login-form">
                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <form class="pt-3" method="post">

                                <label for="exampleInputEmail1">E-mail</label>
                                <input asp-for="@Model.Email" class="form-control form-control-lg border-left-0">
                                <span class="text-danger" asp-validation-for="@Model.Email"></span>
                                <button type="submit" class="default-btn">Tesdiq</button>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register end -->
